<form action="/add_new">

<label for="name">Name</label>
<input id="name" name="name"></input>
<br>
<label for="bio" >Bio</label>
<input id="bio" name="bio"></input>
<br>
<label for="dob" >Date of Birth</label>
<input id="dob" name="dob"></input>
<br>
<label for="image_url" >Image URL</label>
<input id="image_url" name="image_url"></input>
<br>
<button>ADD DIRECTOR</button>

</form>
