<h1>Director Information </h1>
<%= @director.name %> <br>
<%= @director.bio %> <br>
<%= @director.dob %> <br>
<img width=200px src="<%= @director.image_url %>"</img> <br>
<br>
<br>
<a href="/directors"> Back </a>
